* {
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr 1180px 1fr;
	grid-template-rows: 220px 85px 885px 510px;
}

/*-------------------------------------------
------------------Header---------------------
-------------------------------------------*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: 1/2/2/3;
}

.logo {
	width: 400px;
	height: 92px;
	background-image: url(../img/logo.png);
	line-height: 92px;
	text-align: center;
	font-size: 41pt;
	color: #3687c4;
}

.header_section-right {
	display: flex;
	flex-direction: column;
}

.header_section-right_info {
	visibility: hidden;
}

.header_section-right_info_content {
	width: 224px;
	height: 46px;
	border: 2px solid #d4d4d5;
	border-radius: 5px;
	font-size: 16pt;
	color: #7a7b7d;
	text-align: center;
	line-height: 46px;
}

.header_section-right_info-cursor1 {
	position: relative;
  width: 0;
	height: 0;
	left: 95px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
	border-top: 18px solid #d4d4d5;
	margin-bottom: 10px;
}

.header_section-right_info-cursor1_1 {
	position: relative;
	justify-content: center;
	top: -20px;
	left: -17px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
	border-top: 17px solid white;
	margin-bottom: 10px;
}

.header_section-right_icons {
	display: flex;
	justify-content: center;
	font-size: 26px;
	color: #6d6e71;
}

svg {
	padding: 0px 8px;
}

svg:nth-child(3) {
	padding: 5px 8px 0px 8px;
}

svg:hover #phoneIcon,
svg:hover #locationIcon,
svg:hover #emailIcon  {
	fill: #2fb0e4;
}

svg:hover .header_section-right_info {
	visibility: visible;
}


/*-------------------------------------------
----------------Navigation-------------------
-------------------------------------------*/
.nav {
	grid-area: 2/2/3/3;
}

.main-section {
	grid-area: 3/2/4/3;
}

/*-------------------------------------------
------------------Footer---------------------
-------------------------------------------*/

.footer, .footer_section-right,
.footer_section-left {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.footer {
	grid-area: 4/2/5/3;
}

.footer_section-right,
.footer_section-left {
	display: flex;
	justify-content: center;
}

.footer_section-left_image,
.footer_section-left_image,
.footer_section-left_info, 
.footer_section-right_info {
	padding: 15px;
}
