#rating {
  display: flex;
  width: 210px;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 50px;
  line-height: 40px;
}

#rating li {
  cursor: pointer;
  -webkit-user-select: none;
}

.rating_red {
  color: red;
}

.rating_red-black {
  background: linear-gradient(to right, red 50%, black 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}